html { 
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#content {
  height: 100%;
  width: 100%;
  text-align:center;
}

a {
  text-decoration: none;
  color: #000;
}
#resultItem {
  cursor: pointer;
}

#goButton {
  width:36px;
  height:36px;
  border:1px solid green;
  border-radius: 5px;
  background-color:lime;
  cursor: pointer;
  display:inline-block;
  line-height:36px;
  text-align: center;
}

#glass_img {
  width:35px;
  vertical-align:middle;
}

#search_label {
  line-height:35px;
  display:inline;
  font:125% Helvetica, Arial, sans-serif;
}

#school_name {
  height:33px;
  border-radius:5px;
  width:80%;
  display:inline-block;
  margin-bottom:12px;
}

.resultItem {
  width: 98%;
  background-color:#F6D396;
  border:1px solid #AAA;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.infoWindowText {
  font: 120% Helvetica, Arial, sans-serif;
}
#infoWindowTitle {
  font-weight: bold;
}
